@model IEnumerable<Claymore.Models.Character>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Session Count
        </th>
        <th>
            Available XP
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="~/Characters/Details/@item.Id">@item.Name</a>
        </td>
        <td>
            @item.Sessions.Count Sessions
        </td>
        <td>
            @item.XPAssets.Where(x => x.Name == "XP Pool").First().AllocatedXP
        </td>
    </tr>
}

</table>
